<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.vop.persistence.DeliveryMapper">

   <resultMap type="com.web.vop.domain.DeliveryVO" 
   id="DeliveryResultMap">
      <id property="deliveryId" column="DELIVERY_ID" /> 
      <result property="memberId" column="MEMBER_ID"/>
      <result property="receiverName" column="RECEIVER_NAME"/>
      <result property="receiverAddress" column="RECEIVER_ADDRESS"/>
      <result property="receiverPhone" column="RECEIVER_PHONE"/>
      <result property="requirement" column="REQUIREMENT"/>
      <result property="deliveryAddressDetails" column="DELIVERY_ADDRESS_DETAILS"/>
      <result property="isDefault" column="IS_DEFAULT"/>
   </resultMap>
   
   <!-- 배송지 등록 -->
   <insert id="insertDelivery"> 
   		INSERT INTO DELIVERY
   		VALUES (
   			DELIVERY_SEQ.NEXTVAL, #{memberId}, #{receiverName}, #{receiverAddress},
   			#{receiverPhone}, #{requirement}, #{deliveryAddressDetails}, #{isDefault}
   		)
   </insert>
   
   <!-- 배송지 수정  -->
	<update id="updateDelivery">
		UPDATE DELIVERY 
		SET 
			RECEIVER_NAME = #{receiverName}, 
			RECEIVER_ADDRESS = #{receiverAddress}, 
			RECEIVER_PHONE = #{receiverPhone} ,
			REQUIREMENT = #{requirement},  
			DELIVERY_ADDRESS_DETAILS = #{deliveryAddressDetails}, 
			IS_DEFAULT= #{isDefault}
		WHERE DELIVERY_ID = #{deliveryId} AND MEMBER_ID = #{memberId}
	</update>
   
   <!-- 배송지 삭제 -->
	<delete id="deleteDelivery">
		DELETE DELIVERY WHERE DELIVERY_ID = #{deliveryId}
	</delete>
   
   <!--  배송지 상세 조회 (주문목록) by memberId-->
	<select id="selectByMemberId" resultMap="DeliveryResultMap">
		SELECT * FROM DELIVERY WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 배송지 상세 조회 (수정페이지) by deliveryId and memberId-->
   	<select id="selectBydeliveryId" resultMap="DeliveryResultMap">
		SELECT * FROM DELIVERY WHERE DELIVERY_ID = #{deliveryId} AND MEMBER_ID = #{memberId}
	</select>
	

   <!-- 기본 배송지 조회 -->
   <select id="cntIsDefault" resultType="Integer">
		SELECT COUNT(*) FROM DELIVERY WHERE MEMBER_ID = #{memberId} AND IS_DEFAULT = 1
	</select>
	
	<!-- 기존 기본 배송지를 0으로 업데이트 -->
      <update id="updateDefault">
       	UPDATE DELIVERY
       	SET IS_DEFAULT = 0
       	WHERE MEMBER_ID = #{memberId} AND IS_DEFAULT = 1
   	 </update>
	
	<!-- 새로운 기본 배송지를 1로 설정 -->
    <update id="updateNewDefault">
      	UPDATE DELIVERY
        SET IS_DEFAULT = 1
        WHERE DELIVERY_ID = #{deliveryId} AND MEMBER_ID = #{memberId}
    </update>
	

	<!-- memberId로 기본 배송지 검색 -->
	<select id="selectDefaultByMemberId" resultMap="DeliveryResultMap">
		SELECT * FROM DELIVERY WHERE MEMBER_ID = #{memberId} AND IS_DEFAULT = 1
	</select>
	

   
</mapper>
	