<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.vop.persistence.DeliveryMapper">

   <resultMap type="com.web.vop.domain.DeliveryVO" 
   id="DeliveryResultMap">
      <id property="deliveryId" column="DELIVERY_ID" /> 
      <result property="memberId" column="MEMBER_ID"/>
      <result property="receiverName" column="RECEIVER_NAME"/>
      <result property="receiverAddress" column="RECEIVER_ADDRESS"/>
      <result property="receiverPhone" column="RECEIVER_PHONE"/>
      <result property="deliveryAddressDetails" column="DELIVERY_ADDRESS_DETAILS"/>
      <result property="requirement" column="REQUIREMENT"/>
      <result property="isDefault" column="IS_DEFAULT"/>
   </resultMap>
   
   <!-- 배송지 등록 -->
   <insert id="insertDelivery"> 
   		INSERT INTO DELIVERY (DELIVERY_ID, MEMBER_ID, RECEIVER_NAME, RECEIVER_ADDRESS, RECEIVER_PHONE, DELIVERY_ADDRESS_DETAILS, REQUIREMENT, IS_DEFAULT)
   		VALUES (
   			DELIVERY_SEQ.NEXTVAL, #{memberId}, #{receiverName}, #{receiverAddress},
   			#{receiverPhone},  #{deliveryAddressDetails}, #{requirement}, #{isDefault}
   		)
   </insert>
   
   <!-- 배송지 수정  -->
	<update id="updateDelivery">
		UPDATE DELIVERY 
		SET 
			RECEIVER_NAME = #{receiverName}, 
			RECEIVER_ADDRESS = #{receiverAddress}, 
			RECEIVER_PHONE = #{receiverPhone} , 
			DELIVERY_ADDRESS_DETAILS = #{deliveryAddressDetails}, 
			REQUIREMENT = #{requirement}, 
			IS_DEFAULT= #{isDefault}
		WHERE DELIVERY_ID = #{deliveryId} AND MEMBER_ID = #{memberId}
	</update>
   
   <!-- 배송지 삭제 -->
	<delete id="deleteDelivery">
		DELETE DELIVERY WHERE DELIVERY_ID = #{deliveryId} AND MEMBER_ID = #{memberId}
	</delete>
   
   <!--  배송지 상세 조회 by memberId-->
	<select id="selectByMemberId" resultMap="DeliveryResultMap">
		SELECT * FROM DELIVERY WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 배송지 상세 조회 by deliveryId -->
   	<select id="selectBydeliveryId" resultMap="DeliveryResultMap">
		SELECT * FROM DELIVERY WHERE DELIVERY_ID = #{deliveryId}
	</select>
	
   
</mapper>
	