<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.vop.persistence.LikesDislikesMapper">
	<resultMap type="com.web.vop.domain.LikesDislikesVO"
      id="likesDislikesResultMap">
      
      <id property="likesDislikesId" column="LIKES_DISLIKES_ID" /> 
      <result property="memberId" column="MEMBER_ID" />
      <result property="reviewId" column="REVIEW_ID" />
      <result property="likeDislikeType" column="LIKES_DISLIKES_TYPE" />
      <result property="likesDislikesDateCreated" column="LIKES_DISLIKES_DATE_CREATED" />
      </resultMap>
      
      <!-- 좋아요 or 싫어요 입력 -->
      <insert id="insertLikesDislikes">
      	INSERT INTO LIKES_DISLIKES (LIKES_DISLIKES_ID, MEMBER_ID, 
      	REVIEW_ID, LIKES_DISLIKES_TYPE, LIKES_DISLIKES_DATE_CREATED)
		VALUES (LIKES_DISLIKES_SEQ.NEXTVAL, #{memberId}, #{reviewId},
		#{likeDislikeType}, SYSDATE)
		)
      </insert>
      
      <!-- 좋아요 or 싫어요 수정 -->
      <update id="updateLikesDislikes">
      	UPDATE LIKES_DISLIKES
      	SET LIKES_DISLIKES_TYPE = #{likeDislikeType}
      	WHERE LIKES_DISLIKES_ID = #{likesDislikesId}
		)
      </update>
      
     <!-- 좋아요 or 싫어요 삭제 -->
   	<delete id="deleteReview">
      DELETE FROM LIKES_DISLIKES 
      WHERE REVIEW_ID = #{reviewId} AND MEMBER_ID = #{memberId}
   	</delete>
   	
   	<!-- 댓글(리뷰) productId 그리고 memberId통해 검색 -->
   <select id="selectBylikesDislikes" resultMap="likesDislikesResultMap">
   		SELECT * FROM LIKES_DISLIKES
	 	WHERE REVIEW_ID = #{reviewId} AND MEMBER_ID = #{memberId}
   </select>
      
      
      
</mapper>