<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.vop.persistence.MembershipMapper">

   <resultMap type="com.web.vop.domain.MembershipVO" id="MembershipResultMap">
      <id property="membershipId" column="MEMBERSHIP_ID"/> 
      <result property="memberId" column="MEMBER_ID"/>
      <result property="joinDate" column="JOIN_DATE"/>
      <result property="expiryDate" column="EXPIRY_DATE"/>
      <result property="paymentDate" column="PAYMENT_DATE"/>
      <result property="membershipFee" column="MEMBERSHIP_FEE"/>
      <result property="chargeId" column="CHARGE_ID"/>
   </resultMap>
   
   <resultMap type="com.web.vop.domain.MembershipExpiryDTO" id="MembershipExpiryResultMap">
   		<id property="memberId" column="MEMBER_ID"/> 
      	<result property="expiryDate" column="EXPIRY_DATE"/>
   </resultMap>
   
   
   <!-- membershipId 생성 -->
	<select id="selectNextMembershipId" resultType="Integer">
		SELECT MEMBERSHIP_SEQ.NEXTVAL FROM DUAL
	</select>
   
   <!-- 멤버십 결제 등록 -->
   <!--  <insert id="insertMembershipPayment">
		INSERT INTO MEMBERSHIP (MEMBERSHIP_ID, MEMBER_ID, JOIN_DATE, EXPIRY_DATE, PAYMENT_DATE, MEMBERSHIP_FEE, CHARGE_ID) 
		VALUES (#{membershipId}, #{memberId}, SYSDATE, SYSDATE + INTERVAL '5' DAY, SYSDATE, #{membershipFee}, #{chargeId})
	</insert>-->
   
   <!-- 멤버십 등록 -->
   <insert id="insertMembership">
      INSERT INTO MEMBERSHIP (MEMBERSHIP_ID, MEMBER_ID, JOIN_DATE, EXPIRY_DATE, PAYMENT_DATE, MEMBERSHIP_FEE, CHARGE_ID) 
      VALUES (#{membershipId}, #{memberId}, SYSDATE, SYSDATE + INTERVAL '5' DAY, SYSDATE, #{membershipFee}, #{chargeId})
   </insert>

	<!-- 멤버십 권한 수정 -->
	<update id="updateMemberAuthOnInsert">
        UPDATE MEMBER SET MEMBER_AUTH = '멤버십' WHERE MEMBER_ID = #{memberId} AND MEMBER_AUTH = '일반'
	</update> 
	
	<!-- 멤버십 전체 조회 -->
	<select id="selectByMemberId" resultMap="MembershipResultMap">
		SELECT * FROM MEMBERSHIP WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 멤버십 만료 기간 조회 -->
	<select id="selectExpiryDate" resultType="Date">
		SELECT EXPIRY_DATE FROM MEMBERSHIP WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 멤버십 삭제(해지) -->
	<delete id="deleteMembership">
		DELETE MEMBERSHIP WHERE MEMBER_ID = #{memberId}
	</delete>	
	
	<!-- 멤버십 삭제 시 권한 업데이트 -->
	<update id="updateMemberAuthOnDelete">
        UPDATE MEMBER SET MEMBER_AUTH = '일반' WHERE MEMBER_ID = #{memberId} AND MEMBER_AUTH = '멤버십'
	</update>
	
	<!-- 멤버십 만료일 조회 (스케줄링) -->
	<select id="selectExpiryDateBySchedulling" resultMap="MembershipExpiryResultMap">
		SELECT MS.MEMBER_ID, MS.EXPIRY_DATE, M.MEMBER_EMAIL 
		FROM MEMBERSHIP MS JOIN MEMBER M 
		ON MS.MEMBER_ID = M.MEMBER_ID
		<!-- SELECT MEMBER_ID, EXPIRY_DATE FROM MEMBERSHIP -->
	</select>
	
	
</mapper>


