<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.vop.persistence.PaymentMapper">

   <resultMap type="com.web.vop.domain.PaymentVO"
      id="PaymentResultMap">
      
      <id property="paymentId" column="PAYMENT_ID" /> 
      <result property="memberId" column="MEMBER_ID" />
      <result property="deliveryAddress" column="DELIVERY_ADDRESS"/>
      <result property="receiverName" column="RECEIVER_NAME"/>
      <result property="receiverPhone" column="RECEIVER_PHONE"/>
   </resultMap>

</mapper>