<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.vop.persistence.ProductMapper">

   <resultMap type="com.web.vop.domain.ProductVO"
      id="productResultMap">
      <id property="productId" column="PRODUCT_ID" /> 
      <result property="memberId" column="MEMBER_ID" />
      <result property="productName" column="PRODUCT_NAME"/>
      <result property="productPrice" column="PRODUCT_PRICE"/>
      <result property="reviewNum" column="REVIEW_NUM"/>
      <result property="productRemains" column="PRODUCT_REMAINS"/>
      <result property="productPlace" column="PRODUCT_PLACE"/>
      <result property="productState" column="PRODUCT_STATE"/>
      <result property="category" column="CATEGORY"/>
      <result property="imgPath" column="IMG_PATH"/>
      <result property="imgRealName" column="IMG_REAL_NAME"/>
      <result property="imgChangeName" column="IMG_CHANGE_NAME"/>
      <result property="imgExtension" column="IMG_EXTENSION"/>
      <result property="imgDateCreated" column="IMG_DATE_CREATED"/>
   </resultMap>
   
   <!-- productId통해 상품 조회 -->
   <select id="selectProduct" resultMap="productResultMap">
   		SELECT * FROM PRODUCT
   		WHERE PRODUCT_ID = #{productId}
   </select>
   
   <!-- 메인(썸네일) 이미지 검색 -->
   <!-- 
   <select id="selectByMainImg" resultMap="productResultMap">
      SELECT * FROM IMAGE
      WHERE PRODUCT_ID = #{productId}
   </select>
    -->
    
   <!-- 댓글 총 갯수 검색  -->
   <!-- resultType="java.lang.Integer" 단일 값때만 사용, 코드 추가해서 테스트 통과 -->
   <select id="selectReviewCount" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS PRODUCT FROM REVIEW 
    	WHERE PRODUCT_ID = #{productId}
   </select>

   <!-- PRODUCT_ID 해당하는 리뷰(별) 총 합 -->
   <select id="selectReviewStar" resultType="java.lang.Integer">
   		SELECT PRODUCT_ID, SUM(REVIEW_STAR) AS TOTAL_STAR_RATINGS
		FROM REVIEW
		WHERE PRODUCT_ID = #{productId}
		GROUP BY PRODUCT_ID
   </select>
   
	<!-- 상품 등록 -->
	<insert id="insertProduct">
   		INSERT INTO PRODUCT VALUES (
   		PRODUCT_SEQ.NEXTVAL, #{memberId}, #{productName}, #{productPrice},
   		0, #{productRemains}, #{productPlace}, '승인 대기중', #{category}, 
   		#{imgPath}, #{imgRealName}, #{imgChangeName}, #{imgExtension}, #{imgDateCreated} 
   		)
	</insert>
   
	<!-- 상품 카테고리로 검색 (페이징) -->
	<select id="selectByCategory" resultMap="productResultMap">
   		SELECT * FROM (
   		SELECT PRODUCT.*, ROW_NUMBER() OVER (ORDER BY PRODUCT_ID DESC) RN
   		FROM PRODUCT
 		WHERE CATEGORY = #{category}
   		) WHERE RN BETWEEN #{start} AND #{end}
	</select>

	<!-- 상품 이름으로 검색 (페이징) -->
	<select id="selectByName" resultMap="productResultMap">
   		SELECT * FROM (
   		SELECT PRODUCT.*, ROW_NUMBER() OVER (ORDER BY PRODUCT_ID DESC) RN
   		FROM PRODUCT
   		WHERE PRODUCT_NAME LIKE #{productName}
   		) WHERE RN BETWEEN #{start} AND #{end}
   	</select>	

	<!-- 카테고리를 선택하여 이름으로 검색 (페이징) -->
	<select id="selectByNameInCategory" resultMap="productResultMap">
		SELECT * FROM (
   		SELECT PRODUCT.*, ROW_NUMBER() OVER (ORDER BY PRODUCT_ID DESC) RN
   		FROM PRODUCT
 		WHERE CATEGORY = #{category} AND PRODUCT_NAME LIKE #{productName}
   		) WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>