<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.vop.persistence.SellerMapper">

   <resultMap type="com.web.vop.domain.SellerVO"
      id="sellerResultMap">
      
      <id property="memberId" column="MEMBER_ID" /> 
      <result property="businessName" column="BUSINESS_NAME" />
      <result property="requestTime" column="REQUEST_TIME"/>
      <result property="requestContent" column="REQUEST_CONTENT"/>
	  <result property="requestState" column="REQUEST_STATE"/>
   	  <result property="refuseMsg" column="REFUSE_MSG"/>
   	   	
   </resultMap>
   
   <!-- 판매자 권한 요청 조회 -->
   <select id="selectRequestByState" resultMap="sellerResultMap">
   		SELECT MEMBER_ID, BUSINESS_NAME, REQUEST_TIME, REQUEST_CONTENT, REQUEST_STATE FROM (
   		SELECT SELLER.*, ROW_NUMBER() OVER(ORDER BY REQUEST_TIME) AS RN FROM SELLER
   		WHERE REQUEST_STATE = #{requestState}
   		) WHERE RN BETWEEN #{pagination.start} AND #{pagination.end}
   </select>
   
   <!-- 모든 판매자 권한 요청 수 조회 -->
   <select id="selectRequestByStateCnt" resultType="Integer">
   		SELECT COUNT(MEMBER_ID) FROM SELLER WHERE REQUEST_STATE = #{requestState}
   </select>
   
   <!-- 자신의 권한 요청 조회 -->
   <select id="selectRequestById" resultMap="sellerResultMap">
   		SELECT * FROM SELLER WHERE MEMBER_ID = #{memberId}
   </select>
   
   <!-- 요청 등록 -->
   <insert id="insertRequest">
   		INSERT INTO SELLER VALUES (#{memberId}, #{businessName}, SYSDATE, #{requestContent}, #{requestState}, NULL)
   </insert>
   
   <!-- 요청 수정(유저) -->
   <update id="updateMemberContent">
   		UPDATE SELLER SET BUSINESS_NAME = #{businessName}, REQUEST_TIME = SYSDATE, 
   		REQUEST_CONTENT = #{requestContent}, REQUEST_STATE = #{requestState} WHERE MEMBER_ID = #{memberId}
   </update>
   
   <!-- 요청 결재 -->
   <update id="updateAdminContent">
   		UPDATE SELLER SET REQUEST_STATE = #{requestState}, REFUSE_MSG = #{refuseMsg} WHERE MEMBER_ID = #{memberId}
   </update>
   
   <!-- 요청 삭제 -->
   <delete id="deleteRequest">
   		DELETE SELLER WHERE MEMBER_ID = #{memberId}
   </delete>
   
   
</mapper>